@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Search";
}
@model ASP.Models.ViewModels.MovieViewModel
@{

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Search</title>
    </head>
    <body>

        <table class="table">
            <thead>
                <tr>
                    <th> Poster</th>
                    <th> Title</th>
                    <th>  Year</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.movies != null)
                {
                    @foreach (var movie in Model.movies)
                    {

                        <tr>
                            <td>  <img src=@movie.Poster /></td>
                            <td>   @movie.Title</td>
                            <td>   @movie.Year</td>
                            <td> <a asp-controller="Info" asp-action="Index" asp-route-id="@movie.imdbID" class="btn btn-info"> More...</a></td>
                            <td>
                                <form asp-controller="MovieList" asp-action="Add" asp-all-route-data="@(new Dictionary<string, string>
                                                                      { { "movieDTO.Title", movie.Title },
                                                                          { "movieDTO.Poster", movie.Poster },
                                                                          { "movieDTO.Year", movie.Year.ToString() }
                                                                          ,{ "movieDTO.imdbID", movie.imdbID } })">
                                    <input type="submit" value="Add" class="btn btn-primary" />
                                </form>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <form class=" form-inline">
            @if (Model.movies != null)
            {
                @if (Model.pagingInfo.HasPreviousPage)
                {
                    <a asp-action="Index"
                       asp-route-search="@Model.Query"
                       asp-route-page="@(Model.pagingInfo.CurrentPage - 1)"
                       class="btn btn-outline-dark">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        @(Model.pagingInfo.CurrentPage - 1)
                    </a>
                }
                @if (Model.pagingInfo.HasNextPage)
                {
                    <a asp-action="Index"
                       asp-route-search="@Model.Query"
                       asp-route-page="@(Model.pagingInfo.CurrentPage + 1)"
                       class="btn btn-outline-dark">
                        @(Model.pagingInfo.CurrentPage + 1)
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </a>
                }
                <label class="sr-only"> ...</label>
                <a asp-action="Index"
                   asp-route-search="@Model.Query"
                   asp-route-page="@(Model.pagingInfo.TotalPages)"
                   class="btn btn-outline-dark">
                    @Model.pagingInfo.TotalPages
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
            }
        </form>
    </body>
</html>
}
